In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df= pd.read_excel('merc.xlsx')
df.head()

   year  price transmission  mileage  tax   mpg  engineSize
0  2005   5200    Automatic    63000  325  32.1         1.8
1  2017  34948    Automatic    27000   20  61.4         2.1
2  2016  49948    Automatic     6200  555  28.0         5.5
3  2016  61948    Automatic    16000  325  30.4         4.0
4  2016  73948    Automatic     4000  325  30.1         4.0

In [6]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000
mean,2017.296288,24698.596920,21949.559037,129.972178,55.155843,2.071530
std,2.224709,11842.675542,21176.512267,65.260286,15.220082,0.572426
min,1970.000000,650.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,17450.000000,6097.500000,125.000000,45.600000,1.800000
50%,2018.000000,22480.000000,15189.000000,145.000000,56.500000,2.000000
75%,2019.000000,28980.000000,31779.500000,145.000000,64.200000,2.100000
max,2020.000000,159999.000000,259000.000000,580.000000,217.300000,6.200000

In [ ]:
df.isnull().sum()

In [ ]:
plt.figure(figsize=(7,5))
sns.histplot(df['price'])

In [ ]:
sns.countplot(x='year', data=df)

In [ ]:
df.select_dtypes(include=[np.number]).corr()

In [ ]:
df.select_dtypes(include=[np.number]).corr()["price"].sort_values()

In [ ]:
sns.scatterplot(x = "mileage", y = "price", data = df)

In [ ]:
df.sort_values("price",ascending=False)

In [ ]:
len(df)

In [ ]:
len(df) * 0.01

In [ ]:
new_df = df.sort_values("price" , ascending=False).iloc[131:]
new_df.describe()

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(new_df['price'], bins=30, kde=True)

In [ ]:
df.groupby('year')['price'].mean()

In [ ]:
new_df.groupby('year')['price'].mean()

In [ ]:
df = new_df

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df = df.drop("transmission",axis=1)

In [ ]:
df.head()

In [ ]:
y = df['price'].values
x = df.drop('price', axis=1).values

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=10)

In [ ]:
len(x_train)

In [ ]:
len(x_test)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
x_train = scaler.fit_transform(x_train)

In [ ]:
x_test = scaler.transform(x_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
x_train.shape

In [ ]:
model = Sequential()

model.add(Dense(12,activation="relu"))
model.add(Dense(12,activation="relu"))
model.add(Dense(12,activation="relu"))
model.add(Dense(12,activation="relu"))

model.add(Dense(1))

model.compile(optimizer="adam", loss="mse")

In [ ]:
model.fit(x_train, y_train, epochs=300 , validation_data=(x_test, y_test), batch_size=250)

In [ ]:
kayipVerisi = pd.DataFrame(model.history.history)

In [ ]:
kayipVerisi.head()

In [ ]:
kayipVerisi.plot()

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
tahmin = model.predict(x_test)

In [ ]:
tahmin

In [ ]:
mean_absolute_error(y_test, tahmin)

In [ ]:
df.describe()

In [ ]:
plt.scatter(x=tahmin, y=y_test)
plt.plot(y_test, y_test, color='red')

In [ ]:
df.iloc[2]

In [ ]:
new_car = df.drop("price",axis=1).iloc[2]

In [ ]:
new_car

In [ ]:
new_car = scaler.transform(new_car.values.reshape(-1,5))

In [ ]:
model.predict(new_car)